/* Device widths to adjust:
min-width lg: 992 (x > 768px && x < 992px)
min-width md: 768 (x > 768px && x < 992px)
min-width: sm: 576 (x > 576px && x < 768px)
*/

* {
  box-sizing: border-box;
}

body {
  /* font-family: "Fira Sans", sans-serif; */
  font-family: "Passion One", cursive;
  /* PATH to our image within the img folder */
  /* background-image: url("./img/background-img1.jpg"); */

  /* background-image: linear-gradient(
      to top left,
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 19, 0.73)
    ),
    url("./img/background-img1.jpg"); */

  background-image: linear-gradient(
      to top left,
      rgba(117, 19, 19, 0.63),
      rgba(117, 19, 19, 0.63)
    ),
    url("./img/background-img1.jpg");

  /* background-repeat: no-repeat; */
  /* This keeps our image fixed when we scroll down */
  background-attachment: fixed;
  /* Entire image is displayed as our background */
  background-size: cover;
}

html {
  /* This makes 1rem = 10px */
  font-size: 62.5%;
}

/* Will display brickwall as our background */
.background-image {
  /* background-image: url("./img/background-img1.jpg"); */

  /* Covers entire container */
  /* background-size: fixed; */
  /* Displays 100% of view height and view width of current screen size */
  width: 100vw;
  height: 100vh;
  z-index: -9999;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-color {
  /* border-bottom: red; */
  /* background-color: yellow; */
  /* border-bottom: 5px solid #dc3545; */
  background-color: rgba(0, 0, 0, 0.45);
}

/* Edits to return navbar size back to normal(due to changing html font-size 62.5% */
.nav-item,
.navbar-brand,
.nav-link,
.active,
.home-link,
.navbar-toggler,
.cart {
  color: white;
  font-size: 2.6rem;
  /* Makes the navbar fixed on our screen */
  background: fixed;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #dc3545;
}

/* Hamburger icon */
.navbar-toggler,
.navbar-toggler-icon {
  /* color: white; */
  color: #dc3545;
  /* background-color: white; */
}
.cart {
  text-transform: capitalize;
  font-weight: 700;
}

.dropdown-item {
  font-size: 2.4rem;
}

.dropdown-item:hover {
  border-left: 4px solid #dc3545;
  background-color: white;
}

.dropdown-item:active {
  background-color: #dc3545;
}

.section-header {
  font-size: 6.4rem;
  color: white;
  margin-top: 6rem;
  margin-left: 16rem;

  /* Adds underline AND moves the underline position lower */
  text-decoration: 10px underline #dc3545;
  text-underline-position: under;
}

/* Helps prevent content overflow by not allowing container to shrink more than this */
.container {
  margin-top: 5rem;
  min-width: 32rem;
  min-height: 40rem;
}
/* Holds item information  */
.item-container {
  display: grid;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(223, 222, 222, 0.874);
  border: 5px solid rgba(223, 222, 222, 0.174);
  gap: 2rem;
  grid-template-columns: 6fr 4fr;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 8%;
  /* Space between our items */
  margin: 0rem 0rem 4rem 0rem;

  /* Prevent container content breaking on smaller width devices */
  min-width: 40rem;
  max-width: 60rem;
  min-height: auto;
}

/* LEFT SIDE OF CONTAINER */
.text-container {
  min-width: 12rem;
  padding: 1rem 2rem 2rem 2rem;
}

/* RIGHT SIDE */
.img-item {
  /* 14rem width/heights keeps all our images the same size */
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  border: 5px solid #dc3545;
  max-width: 14rem;
  min-width: 14rem;
}

/* Increase image size on mouse hover */
.img-item:hover {
  transform: scale(1.2);
  transition: 500ms;
}
/* RIGHT SIDE OF CONTAINER */
.img-container {
  min-width: 15rem;
  padding: 2rem 0rem 0rem 1rem;
}

.item-header {
  font-size: 2.8rem;
}

.item-price {
  font-size: 2.4rem;
}

.item-desserts {
  font-size: 2.4rem;
}

.price-text {
  font-size: 1.6rem;
}

.item-calories {
  padding-top: 2rem;
  font-size: 1.2rem;
  color: grey;
}

.select-crust,
.select-size,
.select-quantity {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.btn-order {
  padding: 0.7rem 6.6rem 0.7rem 6.6rem;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.6rem;
}
