* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.cart {
  text-transform: capitalize;
  font-weight: 700;
}

.container {
  min-width: 32rem;
  min-height: 40rem;
}
/* Holds item information  */
.item-container {
  display: grid;
  border: 2px solid black;
  gap: 2rem;
  grid-template-columns: 6fr 4fr;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 8%;
  /* Space between our items */
  margin: 0rem 0rem 4rem 0rem;

  /* To prevent container content breaking on smaller widths */
  min-width: 40rem;
  max-width: 60rem;
  min-height: auto;
}

.text-container {
  min-width: 12rem;
  padding: 1rem 2rem 2rem 2rem;
}

.img-item {
  max-width: 14rem;
  min-width: 14rem;
  border-radius: 50%;
}

.img-container {
  min-width: 15rem;
  padding: 2rem 0rem 0rem 1rem;
}

.item-header {
  font-size: 2.8rem;
}

.item-price {
  font-size: 2.4rem;
}

.item-calories {
  padding-top: 2rem;
  font-size: 1.2rem;
  color: grey;
}

.select-crust {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.select-size {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.select-quantity {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.btn-order {
  padding: 0.7rem 6.6rem 0.7rem 6.6rem;
  font-weight: 700;
  font-size: 1.6rem;
}
/* 
min-width lg: 992 - if above
min-width md: 768 - if above
min-width: sm: 576 - if above
*/
